extends site

block head
    link(rel='stylesheet', href='/stylesheets/dimazvali/neva.css')

block content
    script(src="/javascripts/dimazvali/neva.js") 
    h1!=program.name
    a(href!=`/rss/${program.id}`) rss
    if(program.description)
        p!=program.description

    for s in shows
        .sDivided
            h2!=s.name
            div.play(onclick=`play(this, '${s.url}', '${s.id}')`) ▶ Play
            //- audio(controls src!=s.url) 