extends site

block style
    link(rel='stylesheet', href='/stylesheets/dimazvali/hz.css')
block content
    each val, key in data
        div(id!=key)
            h2(title!=`sku ${key}`)!=`${val.data[0].offer_id}`
            //- h3!=`${val.data[0].offer_id}`
            table
                thead
                    tr
                        th Склад
                        th.sep(colspan=3) остатки
                        th.sep импорт
                        th.sep(colspan=2) сегодня
                        th.sep(colspan=2) вчера
                        th.sep(colspan=2) за неделю
                        th.sep(colspan=2) всего
                tbody 
                    tr
                        td Всего

                        td.sep в наличии
                        td в резерве
                        td в пути
                        
                        td.sep 

                        td.sep!=val.today.reduce((a,b)=>a+b.quantity,0)+' шт.'
                        td!=cur(val.today.reduce((a,b)=>a+b.price,0))
                        
                        td.sep!=val.yesterday.reduce((a,b)=>a+b.quantity,0)+' шт.'
                        td!=cur(val.yesterday.reduce((a,b)=>a+b.price,0))
                        
                        td.sep!=val.week.reduce((a,b)=>a+b.quantity,0)+' шт.'
                        td!=cur(val.week.reduce((a,b)=>a+b.price,0))

                        td.sep!=val.data.reduce((a,b)=>a+b.quantity,0)+' шт.'
                        td!=cur(val.data.reduce((a,b)=>a+b.price,0))
                    for cluster in [...new Set(val.data.map(s=>s.cluster_to))]
                        tbody
                            tr.second
                                td!=cluster

                                td.sep
                                td
                                td

                                td.sep!=val.data.filter(s=>s.cluster_to == cluster).filter(s=> s.cluster_to != s.cluster_from).length

                                td.sep!=val.today.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                td!=cur(val.today.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))
                                
                                td.sep!=val.yesterday.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                td!=cur(val.yesterday.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))
                                
                                td.sep!=val.week.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                td!=cur(val.week.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))

                                td.sep!=val.data.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                td!=cur(val.data.filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))
                            for wh in [...new Set(val.data.filter(s=>s.cluster_to == cluster).map(s=>s.wh))]
                                tr.third
                                    td!=wh

                                    td.sep!=lefts.filter(l=>l.warehouse_name == wh && +l.sku == +key)[0] ? lefts.filter(l=>l.warehouse_name == wh && +l.sku == +key)[0].free_to_sell_amount : `нет`
                                    td!=lefts.filter(l=>l.warehouse_name == wh && +l.sku == +key)[0] ? lefts.filter(l=>l.warehouse_name == wh && +l.sku == +key)[0].reserved_amount : `нет`
                                    td!=lefts.filter(l=>l.warehouse_name == wh && +l.sku == +key)[0] ? lefts.filter(l=>l.warehouse_name == wh && +l.sku == +key)[0].promised_amount : `нет`

                                    td.sep!=val.data.filter(s=>s.cluster_to == cluster && s.cluster_to != s.cluster_from && s.wh == wh).length

                                    td.sep!=val.today.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                    td!=cur(val.today.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))
                                    
                                    td.sep!=val.yesterday.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                    td!=cur(val.yesterday.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))
                                    
                                    td.sep!=val.week.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                    td!=cur(val.week.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))

                                    td.sep!=val.data.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.quantity,0)+' шт.'
                                    td!=cur(val.data.filter(s=>s.wh == wh).filter(s=>s.cluster_to == cluster).reduce((a,b)=>a+b.price,0))