extends site

block style
    link(rel='stylesheet', href='/stylesheets/hz/hz.css')
    script!=`let start = ''`
    script!=`let curShop = "${shop.id}"`
    script(src="/javascripts/hz/classes.js") 
    script(src="/javascripts/hz/web.js") 
    script(src="/javascripts/ko.js") 
block content
    h1!=`Товары для магазина ${shop.name}`
    a(href!=`/hz/${shop.id}/report`) Отчет
    a.block(href!=`/hz/${shop.id}/houses`) Товары
    table
        thead 
            tr
                th Артикул
                th Ozon SKU ID
                th Отображение
                th Себестоимость
                th Сортировка
                
        tbody(data-bind!=`foreach:settings`)
            tr
                td(data-bind!=`text:name`)
                td(data-bind!=`text:id`)
                td  
                    span.toggler(data-bind="click:toggle,checked:active,attr:{'data-has':active}")
                td.f60(data-bind!=`text:price,click:()=>edit('price')`)
                td.f60
                    span(data-bind!=`event:{click:$parent.up}`) ⬆️ 
                    span(data-bind!=`event:{click:$parent.down}`) ⬇️

    script!=`setSettings2(${JSON.stringify(settings)},"${shop.id}")`
        