extends layout

block content
  .page-header
    h1 #{t.menu.title}

  .container.section
    .menu-cards
      each m in menus
        a.menu-card(href=`/${lang}/menu/${m.slug}` style='display:block; text-decoration:none; color:inherit')
          if m.type === 'event'
            span.event-badge #{t.news.event_badge}
          h3 #{m['name_' + lang]}
          if m['desc_' + lang]
            p #{m['desc_' + lang]}
