extends site

block content
    img.cover(src!=data.pic||randomPic() alt!=data.name)
    a(href!=`/auditoria/site/${city}/classes`) Вернуться к расписанию
    if(data.soldOut)
        p.soldOut!=`SOLDOUT`
    h1!=data.name
    p.timing
        span.date!=drawDate(data.date._seconds*1000,'ru')
        span.time!=new Date(data.date._seconds*1000).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit',timeZone: 'Asia/Tbilisi'})
    if (data.author)
        a.clickable(href!=`/auditoria/site/${city}/authors/${data.authorId}`)!=data.author
    if (data.course)
        a.clickable(href!=`/auditoria/site/${city}/courses/${data.courseId}`)!=data.course
    p.bold!=data.descShort
    if (data.descLong)
        p!=data.descLong
    if (data.price)
        p.bold!=`Стоимость билетов: ${cur(data.price,`GEL`)}`
    p!=`Подписаться на обновления и забронировать место можно в нашем <a href="https://t.me/AuditoraBot/app?startapp=course_${data.id}">приложении</a>.`
