if (c.date._seconds*1000>+new Date())
    tr.class(onclick!=`window.location.pathname='/auditoria/site/${city}/classes/${c.id}'`)
        td.timing 
            span.date(data-month!=new Date(c.date._seconds*1000).getMonth())!=new Date(c.date._seconds*1000).getDate({timeZone: 'Asia/Tbilisi'})
            span.time(new Date(c.date._seconds*1000).toLocaleTimeString([], {timeZone: 'Asia/Tbilisi',hour: '2-digit', minute:'2-digit'}))
        td
            h4!=c.name
            if(c.author)
                h5=c.author
            else
                if(c.descShort)
                    h5!=descshort