extends site

block content
    img.cover(src!=data.pic||randomPic() alt!=data.name)
    a(href!=`/auditoria/site/${city}/courses`) Вернуться к списку курсов
    h1!=data.name
    p.bold!=data.description

    if(data.author)
        p!=`Автор: `
            a(href!=`/auditoria/site/${city}/authors/${data.authorId}`)!=data.author
    if(data.plan)
        p Входит в подписку 
            a(href!=`/auditoria/site/${city}/plans/${data.planId}`)!=data.plan

    if (data.classes)
        console.log(1)
        table
            for c in data.classes
                include classLine
        
    p!=`Подписаться на обновления и забронировать место можно в нашем <a href="https://t.me/AuditoraBot/app?startapp=course_${data.id}">приложении</a>.`