extends layout

block content
  .gallery-header
    if activeCountry && activeSeries
      - const country = data[activeCountry]
      - const series = country.series[activeSeries]
      span.gallery-label #{country.label.toUpperCase()} · #{series.label.toUpperCase()} · #{photos.length} фото
      .gallery-header-right
        button.gallery-shuffle(onclick='shuffleMasonry()') ↺ ШАФЛ
        if isAdmin
          a.admin-bar-btn(href=`/admin/${activeCountry}/${activeSeries}/upload`) + фото
          a.admin-bar-btn(href=`/admin/${activeCountry}/${activeSeries}/edit`) ✎ серия
    else if activeCountry
      - const country = data[activeCountry]
      span.gallery-label #{country.label.toUpperCase()} · #{photos.length} фото
      .gallery-header-right
        button.gallery-shuffle(onclick='shuffleMasonry()') ↺ ШАФЛ
    else
      span.gallery-label ВСЕ РАБОТЫ · #{photos.length} фото
  if activeTags && activeTags.length
    .gallery-tags
      each tag in activeTags
        a.gallery-tag(href=`/tag/${tag.key}`) #{tag.label.toUpperCase()}
  .masonry
    each photo in photos
      a.photo-card(href=`/${photo.countryKey}/${photo.seriesKey}/${photo.id}`)
        img(
          src=photo.urls ? photo.urls.preview : `/images/photo/${photo.countryKey}/${photo.seriesKey}/${photo.file}`
          srcset=photo.urls ? `${photo.urls.thumb || photo.urls.preview} 400w, ${photo.urls.preview} 800w` : undefined
          sizes=photo.urls ? '(max-width: 640px) calc(50vw - 12px), 400px' : undefined
          alt=photo.title
          loading='lazy'
          onerror="this.style.background='#1e1e1e';this.removeAttribute('src')"
        )
        .photo-overlay
          span.photo-title= photo.title
          if photo.date
            span.photo-date= photo.date
