doctype html
html(data-theme='dark')
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/photo/style.css')
  body(data-series-url=seriesUrl || '')
    .site
      aside.sidebar
        .sidebar-logo
          a(href='/') dimazvali.com
          span Дмитрий Шестаков
        nav.sidebar-nav
          each country, countryKey in data
            a.nav-country(
              href=`/${countryKey}`
              class=activeCountry === countryKey ? 'open' : ''
            )
              span.arrow= activeCountry === countryKey ? '▾' : '▸'
              | &nbsp;
              = country.label.toUpperCase()
            if activeCountry === countryKey
              each series, seriesKey in country.series
                a.nav-series(
                  href=`/${countryKey}/${seriesKey}`
                  class=activeSeries === seriesKey ? 'active' : ''
                ) #{series.label}
        .sidebar-footer
          .sidebar-contacts
            a(href='mailto:dimazvali@gmail.com') dimazvali@gmail.com
            a(href='https://t.me/dimazvali' target='_blank' rel='noopener') @dimazvali
            a(href='https://instagram.com/dimazvali2' target='_blank' rel='noopener') @dimazvali2
          .sidebar-footer-bottom
            a(href='/about') О СЕБЕ
            button.theme-toggle(onclick='toggleTheme()' title='Переключить тему') ◐
      main.main
        block content
    script(src='/javascripts/photo/main.js')
