
doctype html
html
  head
    title auction
    script(src='https://telegram.org/js/telegram-web-app.js')
    meta(name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=no')
    meta(name='description' content='Попробуйте — вам понравится.')
    //- <meta name="viewport" content="width=device-width, user-scalable=no" />
    script(src='/javascripts/knockout.js')
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js")
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js")
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js")
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js')
    script!=`userId="${user}"`
    script!=`let translations=${JSON.stringify(translations)}`
    script!=`let lang="${lang}"`
    //- - let translations = transactions
    script!=`intention=${start ? `"${start}"` : false }`
    script(src='/javascripts/common.js')
    script(type="module" src='/javascripts/auction/classes.js')
    script!=`${start?`let start="${start}"`:'let start=null'}`
    script(src="https://cdn.jsdelivr.net/jsbarcode/3.3.20/JsBarcode.all.min.js") 
    link(rel='stylesheet', href='/stylesheets/auction/app.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap")
    
  body#b
    script!=`let authNeeded=${authNeeded}`
    .popup.reg(data-bind="hidden:active()!='lobby',attr:{shown:active()!='lobby',class:active()!='lobby'?`hidden`:`reg`}")
        div
            div(data-bind="foreach:iterations")
                .container.auction(data-bind="shown:active, attr:{'data-active':active}")
                    h3.auctionName(data-bind="text:name")
                    div.pool(data-bind="text: stake, style:{'background-image':`url(${ava()})`}")
                    //- p.info(data-bind=`html: 'До конца розыгрыша:<br>'+left()`)
                    //- p.info!=translations.toTheEnd[lang]
                    p.info(data-bind=`html: '${translations.toTheEnd[lang]}<br>'+left()`)
                    //- button.stakeButton(data-bind=`attr:{disabled:stakeHolder()==$parent.hash()},click:$root.stake,text:stakeHolder()==$parent.hash()?'Вы ведете':'Сделать ставку ('+base()+')'`)
                    button.stakeButton(data-bind=`attr:{disabled:stakeHolder()==$parent.hash()},click:$root.stake,text:stakeHolder()==$parent.hash()?"${translations.lead[lang]}":'${translations.bet[lang]} ('+base()+')'`)
    .popup(data-bind="hidden:active()!='current',attr:{shown:active()!='current',class:active()!='current'?`hidden`:`reg`}")
        div
    .popup.hidden(data-bind="hidden:active()!='profile',attr:{shown:active()!='profile',class:active()!='profile'?`hidden`:`reg`}")
        div
            .flexLeft
                div.avaContainer
                    img.ava(data-bind="attr:{src:avatar}")
                    span.bal(data-bind="text:balance")
                h3(data-bind="text:username")
            button(data-bind="event:{click:()=>$root.requestPayment(10)}")!=translations.refill[lang]
            //- button(data-bind="event:{click:()=>$root.requestPayment(10)}") Пополнить счет
            div.mTop(data-bind="foreach:transactions")
                div.transaction(data-bind="event:{click:()=>$root.showAlert(`${date}\n\n${comment}: ⭐${amount}`)}")
                    span.info(data-bind="text:comment")
                    span.info.sum(data-bind="text:amount")
    #footer.flex
        #lobby(data-bind="event:{click:()=>sactive('lobby')}, attr:{'data-chosen':active()=='lobby'?true:false}")!=translations.auctions[lang]
        //- #lobby(data-bind="event:{click:()=>sactive('lobby')}, attr:{'data-chosen':active()=='lobby'?true:false}") Аукционы
        #profile(data-bind="event:{click:()=>sactive('profile')}, html:`⭐ ${balance()}`, attr:{'data-chosen':active()=='profile'?true:false}")
  script(type="module" src='/javascripts/auction/app.js')
