extends site

block back
    a.headerA(href="/classes")!=`❰ Расписание`
block content
    script(type="application/ld+json")!=json  
    h1.hA!=cl.name
    if(cl.pic)
        img.cover(src!=cl.pic)
    h3!=cl.author
    p.timing 
        span.date!=drawDate(cl['date'],false,{time:true})
    if(cl.price)
        p!=`Стоимость: ${cur(cl.price,'GEL')}`
    p.story!=cl.description
    p.story!=`Регистрация и билеты — в нашем <a href="https://t.me/paperstuffbot/app?startapp=class_${cl.id}">телеграм-боте</a>.`
    