
div.class(onclick!=`window.location.pathname='/paper/mini/classes/${c.id}'` data-active!=(new Date(c.date)>new Date()?'true':'false'))
    p.timing 
        span.date!=drawDate(c.date,false,{time:true})
    p
        h3!=c.name
        if(c.visitors)
            span.visitors!=c.visitors
        if(c.author)
            h5=c.author