extends site

block content
  - var isRu = lang !== 'en'

  .p-detail-wrap
    .p-detail-main
      a.p-back(href='/classes')= isRu ? '← Ко всем событиям' : '← All events'

      .p-detail-photo
        if cl.pic
          img(src=cl.pic alt=cl.name)

      h1.p-detail-title= cl.name

      .p-detail-meta
        .p-meta-item
          .p-meta-label= isRu ? 'Когда' : 'When'
          .p-meta-value!= drawDate(cl.date, false, {time: true})
        if cl.author
          .p-meta-item
            .p-meta-label= isRu ? 'Ведущий' : 'Host'
            .p-meta-value= cl.author
        .p-meta-item
          .p-meta-label= isRu ? 'Где' : 'Where'
          .p-meta-value Papers Space

      if cl.description
        h3.p-detail-about= isRu ? 'О событии' : 'About'
        p.p-detail-desc!= cl.description

    .p-aside
      .p-booking
        .p-booking-price
          if cl.price
            | ₾#{cl.price}
          else
            = isRu ? 'Бесплатно' : 'Free'
        .p-booking-date!= drawDate(cl.date, false, {time: true})
        a.p-btn-book(href='https://t.me/paperstuffbot/app?startapp=class_' + cl.id target='_blank')
          = isRu ? (cl.price ? 'Купить билет' : 'Записаться') : (cl.price ? 'Buy ticket' : 'Register')
        .p-booking-location
          .p-booking-dot
          .p-booking-addr
            | Papers Space
            br
            | 1 Veriko Anjaparidze St, #{isRu ? 'Тбилиси' : 'Tbilisi'}
